@mixin padding($values) {
  @each $var in $values {
    padding: #{$var};
  }
}

@mixin headingDefoult {
  font-family: Rubik;
  font-style: normal;

  color: #03254C;
  text-align: center;

}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

}

@mixin support-block {
  width: 256px;
  height: 88px;

  display: flex;

  background: linear-gradient(137.15deg, #7D69CD -3.67%, #2E2C84 110.8%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;

  .support-block-text {
    font-family: Rubik, sans-serif;
    font-weight: normal;

    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      line-height: 24px;

      color: rgba(255, 255, 255, 0.6);
    }

    h3 {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  a {
    text-decoration: none;

    img {

    }
  }
}

//@mixin big-title {
//  //font-family: 'Montserrat Alternates', sans-serif;
//  font-weight: 500;
//  line-height: 60px;
//  text-align: center;
//  letter-spacing: -2px;
//  text-transform: capitalize;
//  color: #0F1C49;
//}
//

//@mixin title {
//  font-family: 'Montserrat Alternates', sans-serif;
//  font-weight: 600;
//  text-align: center;
//  color: #0F1C49;
//}
//
//@mixin text {
//  font-family: 'Montserrat Alternates', sans-serif;
//  color: #878DA4;
//}
//
//@mixin flex-c {
//  display: flex;
//  align-items: center;
//  text-align: center;
//}