/*start mixins*/
/*end mixins*/
.w-40 {
  width: 40%;
}

.w-20 {
  width: 20%;
}

.blue {
  color: #09A4D8;
}

/*start page-top*/
.page-top {
  background-image: url(../imgs/topBG.png);
  height: 100vh;
  object-fit: cover;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.page-top .page-top-content .vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 100px;
  max-width: 1000px;
  margin: auto;
}
.page-top .page-top-content .vertical-center .h1 {
  font-family: Rubik, sans-serif;
  font-style: normal;
  color: #03254C;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -2px;
}
.page-top .page-top-content .vertical-center .h3 {
  font-family: Rubik, sans-serif;
  font-style: normal;
  color: #03254C;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.page-top .page-top-content .vertical-center a {
  background: #2A9DF4;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 20px 26px;
  width: auto;
  max-width: 200px;
  margin: auto;
  margin-top: 25px;
  vertical-align: middle;
}

/*end page-top*/
/*start map-block*/
.second-block {
  margin-top: 200px;
  margin-left: 100px;
  background: #F9FAFB;
  border-radius: 100px 8px 8px 8px;
  padding: 67px 0 63px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.second-block .second-block-text {
  margin: 0 44px 0 58px;
  max-width: 400px;
  padding-bottom: 20px;
}
.second-block .second-block-text .h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.second-block .second-block-text .amazon {
  padding-top: 39px;
  padding-bottom: 44px;
}
.second-block .second-block-text p {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #878DA4;
}
.second-block .map img {
  width: 100%;
  height: auto;
}

/*end map-block*/
/*start profile block*/
.profile-block {
  margin-top: 180px;
}
.profile-block .h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
  font-size: 48px;
}
.profile-block .profile-block-content {
  margin-top: 65px;
  justify-content: center;
}
.profile-block .profile-block-content .profile-item {
  background: #F9FAFB;
  border: 16px solid #FFFFFF;
  box-shadow: 0 20px 40px rgba(15, 28, 73, 0.04);
  border-radius: 20px;
  margin-right: 32px;
  padding: 37px 20px 91px;
  text-align: center;
  width: 300px;
  margin-bottom: 16px;
}
.profile-block .profile-block-content .profile-item:nth-last-child {
  margin-right: 0;
}
.profile-block .profile-block-content .profile-item img {
  margin: auto;
}
.profile-block .profile-block-content .profile-item .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  padding: 21px 0;
}
.profile-block .profile-block-content .profile-item span {
  font-family: "Montserrat Alternates", sans-serif;
  color: #878DA4;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0 auto;
}

/*end profile block*/
/*start planner block*/
.planner-block {
  margin-top: 250px;
}
.planner-block .h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
  font-size: 41px;
  margin-bottom: 144px;
}
.planner-block .planner-block-content .planner-item {
  margin-right: 69px;
}
.planner-block .planner-block-content .planner-item .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 600;
  text-align: center;
  font-weight: 500;
  font-size: 41px;
  line-height: 50px;
  margin-bottom: 50px;
}
.planner-block .planner-block-content .planner-item p {
  font-family: "Montserrat Alternates", sans-serif;
  color: #878DA4;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
}
.planner-block .planner-block-content .planner-item p a {
  color: #E34193;
  text-decoration: none;
}
.planner-block .planner-block-content .planner-block-right {
  position: relative;
}
.planner-block .planner-block-content .planner-block-right .support-block {
  width: 256px;
  height: 88px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  background: linear-gradient(137.15deg, #7D69CD -3.67%, #2E2C84 110.8%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  background-color: #2E2C84;
  position: absolute;
  bottom: -30px;
  left: -30px;
}
.planner-block .planner-block-content .planner-block-right .support-block .support-block-text {
  font-family: Rubik, sans-serif;
  font-weight: normal;
}
.planner-block .planner-block-content .planner-block-right .support-block .support-block-text span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.planner-block .planner-block-content .planner-block-right .support-block .support-block-text .h3 {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.planner-block .planner-block-content .planner-block-right .support-block a {
  text-decoration: none;
}
/*end planner block*/
/*start block block*/
.block {
  margin-top: 250px;
}
.block .block-content .block-left {
  margin-right: 10px;
  position: relative;
}
.block .block-content .block-left .support-block {
  width: 256px;
  height: 88px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  background: linear-gradient(137.15deg, #7D69CD -3.67%, #2E2C84 110.8%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  background-color: #2E2C84;
  position: absolute;
  bottom: -30px;
  right: -30px;
}
.block .block-content .block-left .support-block .support-block-text {
  font-family: Rubik, sans-serif;
  font-weight: normal;
}
.block .block-content .block-left .support-block .support-block-text span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.block .block-content .block-left .support-block .support-block-text .h3 {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.block .block-content .block-left .support-block a {
  text-decoration: none;
}
.block .block-content .block-left .support-block.pos-top {
  position: absolute;
  top: -70px;
}
.block .item.right {
  margin-left: 140px;
}
.block .item.left {
  margin-right: 140px;
}
.block .item .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 41px;
  line-height: 50px;
  text-transform: capitalize;
  color: #0F1C49;
  margin-bottom: 30px;
}
.block .item p {
  font-family: "Montserrat Alternates", sans-serif;
  color: #878DA4;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
}
.block .item p a {
  text-decoration: none;
}

/*end block block*/
/*start logistic block*/
.logistic-block {
  margin-top: 250px;
}
.logistic-block .logistic-block-content .logistic-block-left img {
  width: 100%;
  height: auto;
}
.logistic-block .logistic-block-content .logistic-item {
  margin-left: 47px;
}
.logistic-block .logistic-block-content .logistic-item .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  text-transform: capitalize;
  margin-bottom: 14px;
}

/*end logistic- block*/
/*start sliders block*/
.slider-block {
  margin-top: 200px;
}
.slider-block .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
}
.slider-block .slider {
  width: 100%;
}
.slider-block .slider .slider-item {
  width: 509px;
  height: 517px;
  padding: 35px 25px 25px 50px;
  background: #F9FAFB;
  border-radius: 100px 8px;
}
.slider-block .slider .slider-item img {
  width: 186px;
}
.slider-block .slider .slider-item .h4 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2px;
  text-transform: capitalize;
}
.slider-block .slider .slider-item p {
  font-family: "Montserrat Alternates", sans-serif;
  color: #878DA4;
  max-width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  padding-top: 40px;
}

.client-slider-block {
  margin-top: 220px;
}
.client-slider-block .slider-2 {
  position: relative;
}
.client-slider-block .slider-2:before {
  content: url(../imgs/icons/quote-icon.png);
  position: absolute;
  top: 0;
  left: 50%;
  /* right: 50%; */
  transform: translate(-100%, -60%);
}
.client-slider-block .slider-2 .client-slider-item {
  background-color: #fff;
}
.client-slider-block .client-slider-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  justify-content: center;
  flex-direction: column;
}
.client-slider-block .client-slider-title .feedback {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #09A4D8;
}
.client-slider-block .client-slider-title .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: 500;
  font-size: 41px;
  line-height: 50px;
  text-transform: capitalize;
}
.client-slider-block .client-slider-item {
  padding: 48;
}
.client-slider-block .client-slider-item .avatar-wrap {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 20px;
}
.client-slider-block .client-slider-item .avatar-wrap img {
  width: 100%;
  height: 100%;
}
.client-slider-block .client-slider-item .h4 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0F1C49;
}
.client-slider-block .client-slider-item span {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #878DA4;
}
.client-slider-block .client-slider-item p {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878DA4;
  max-width: 270px;
}

/*end sliders block*/
/*start contacts block*/
.contacts-block {
  margin-top: 110px;
  background-color: #03254c;
  padding-top: 231px;
  padding-bottom: 147px;
}
.contacts-block .contacts-left .contacts-left-item .h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.contacts-block .contacts-left .contacts-left-item span {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.contacts-block .contacts-left .contacts-left-item span.blue {
  color: #09A4D8;
}
.contacts-block .contacts-form {
  position: relative;
  background: #F8FBFC;
  border-radius: 16px;
  max-width: 584px;
}
.contacts-block .contacts-form:before {
  content: url("../imgs/form-before.png");
  position: absolute;
  top: -193px;
  left: -367px;
}
.contacts-block .contacts-form form {
  margin: 22px 57px 202px;
}
.contacts-block .contacts-form form .form-title .h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0F1C49;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
}
.contacts-block .contacts-form form .form-title span {
  font-family: Rubik;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #878DA4;
}
.contacts-block .contacts-form form input {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #878DA4;
}
.contacts-block .contacts-form form input.btn {
  background: #09A4D8;
  border-radius: 4px;
  border: transparent;
  width: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}

/*end sliders block*/
/*start footer block*/
footer.footer form {
  align-items: center;
  padding-left: 181px;
  padding-right: 234px;
  padding-top: 135px;
  padding-bottom: 94px;
}
footer.footer form .left {
  width: 100%;
  padding-right: 142px;
}
footer.footer form .left .h3 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #0F1C49;
  padding-top: 16px;
}
footer.footer form .right {
  display: contents;
}
footer.footer form .right input {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 100px;
  max-width: 417px;
  min-width: 300px;
  height: 46px;
  padding-left: 29px;
}
footer.footer form .right button.getNotification {
  position: relative;
  border: transparent;
  padding: 0;
  margin: 0;
  background: transparent;
  box-sizing: border-box;
  outline: none;
}
footer.footer form .right button.getNotification img {
  position: absolute;
  top: -30px;
  left: -61px;
}
footer.footer .footer-social {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 12px;
  background: #03254C;
  margin: auto;
  text-align: center;
}
footer.footer .footer-social p {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -1px;
  color: #FFFFFF;
  padding-top: 22px;
}

/*end footer block*/

/*# sourceMappingURL=style.css.map */
