//@import "_mixins";

/*start mixins*/

@mixin padding($values) {
  @each $var in $values {
    padding: #{$var};
  }
}

@mixin headingDefoult {
  font-family: Rubik, sans-serif;
  font-style: normal;

  color: #03254C;
  text-align: center;

}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

}

@mixin ff_color {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #0F1C49;
}

@mixin big-title {
  @include ff_color;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
}

@mixin title {
  @include ff_color;
  font-weight: 600;
  text-align: center;
}

@mixin text {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #878DA4;
}

@mixin flex-c {
  display: flex;
  align-items: center;
  text-align: center;
}

@mixin slider-bg {
  background: #F9FAFB;
  border-radius: 100px 8px;
}

@mixin suppBlock {
  width: 256px;
  height: 88px;

  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;

  background: linear-gradient(137.15deg, #7D69CD -3.67%, #2E2C84 110.8%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;

  background-color: #2E2C84;

  .support-block-text {
    font-family: Rubik, sans-serif;
    font-weight: normal;

    span {
      font-size: 14px;
      line-height: 24px;

      color: rgba(255, 255, 255, 0.6);
    }

    .h3 {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  a {
    text-decoration: none;

    img {

    }
  }
}

/*end mixins*/

.w-40 {
  width: 40%;
}

.w-20 {
  width: 20%;
}

.blue {

  color: #09A4D8;
}

/*start page-top*/

.page-top {
  background-image: url(../imgs/topBG.png);
  height: 100vh;

  object-fit: cover;
  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .page-top-content {

    .vertical-center {

      @include vertical-center;
      //top: 64%;

      text-align: center;
      padding: 0 100px;
      max-width: 1000px;
      margin: auto;

      .h1 {
        @include headingDefoult;

        font-weight: bold;
        font-size: 48px;
        letter-spacing: -2px;
      }

      .h3 {
        @include headingDefoult;

        font-weight: normal;
        font-size: 24px;
        line-height: 30px;

      }

      a {
        background: #2A9DF4;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;

        color: #FFFFFF;

        padding: 20px 26px;
        width: auto;
        max-width: 200px;

        margin: auto;
        margin-top: 25px;
        vertical-align: middle;
      }

    }
  }
}

/*end page-top*/

/*start map-block*/
.second-block {
  margin-top: 200px;
  margin-left: 100px;
  background: #F9FAFB;
  border-radius: 100px 8px 8px 8px;
  padding: 67px 0 63px;
  justify-content: space-around;
  flex-wrap: wrap;

  .second-block-text {

    margin: 0 44px 0 58px;
    max-width: 400px;
    padding-bottom: 20px;

    .h1 {
      @include ff_color;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;

    }

    .amazon {
      padding-top: 39px;
      padding-bottom: 44px;
    }

    p {
      font-family: Rubik, sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: 1px;

      color: #878DA4;
    }
  }

  .map {
    img {
      width: 100%;
      height: auto;
    }
  }

}

/*end map-block*/

/*start profile block*/

.profile-block {
  margin-top: 180px;

  .h2 {
    @include big-title;
    font-size: 48px;

  }

  .profile-block-content {
    margin-top: 65px;
    justify-content: center;

    .profile-item {

      background: #F9FAFB;
      border: 16px solid #FFFFFF;
      box-shadow: 0 20px 40px rgba(15, 28, 73, 0.04);
      border-radius: 20px;
      //margin: auto;
      margin-right: 32px;
      padding: 37px 20px 91px;
      text-align: center;
      width: 300px;
      margin-bottom: 16px;

      &:nth-last-child {
        margin-right: 0;
      }

      img {
        margin: auto;
      }

      .h3 {
        @include title;
        font-size: 24px;

        padding: 21px 0;
      }

      span {
        @include text;
        @include flex-c;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 1px;
        margin: 0 auto;
      }
    }
  }
}

/*end profile block*/

/*start planner block*/

.planner-block {
  margin-top: 250px;

  .h2 {
    @include big-title;
    font-size: 41px;
    margin-bottom: 144px;
  }

  .planner-block-content {
    .planner-item {
      margin-right: 69px;

      .h3 {
        @include title;
        font-weight: 500;
        font-size: 41px;
        line-height: 50px;

        margin-bottom: 50px;
      }

      p {
        @include text;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;


        a {
          color: #E34193;
          text-decoration: none;
        }
      }

    }

    .planner-block-right {
      position: relative;

      img {

      }

      .support-block {
        @include suppBlock;

        position: absolute;
        bottom: -30px;
        left: -30px;

      }

    }
  }
}

/*end planner block*/

/*start block block*/
.block {
  margin-top: 250px;

  .block-content {
    .block-left {
      margin-right: 10px;
      position: relative;

      .support-block {
        @include suppBlock;

        position: absolute;
        bottom: -30px;
        right: -30px;

        &.pos-top {
          position: absolute;
          top: -70px;
        }

      }


    }
  }

  .item {
    &.right {
      margin-left: 140px;
    }

    &.left {
      margin-right: 140px;
    }

    .h3 {
      font-family: 'Montserrat Alternates', sans-serif;

      font-weight: 500;
      font-size: 41px;
      line-height: 50px;
      text-transform: capitalize;

      color: #0F1C49;
      margin-bottom: 30px;
    }

    p {
      @include text;
      font-weight: 500;
      font-size: 22px;
      line-height: 40px;

      a {
        text-decoration: none;
      }
    }
  }
}


/*end block block*/

/*start logistic block*/
.logistic-block {
  margin-top: 250px;

  .logistic-block-content {
    .logistic-block-left {

      img {
        width: 100%;
        height: auto;
      }
    }

    .logistic-item {
      margin-left: 47px;

      .h3 {
        @include ff_color;
        font-weight: 600;
        font-size: 36px;
        line-height: 38px;
        text-transform: capitalize;
        margin-bottom: 14px;
      }
    }
  }
}

/*end logistic- block*/

/*start sliders block*/
.slider-block {
  margin-top: 200px;

  .h3 {
    @include big-title;
  }

  .slider {
    width: 100%;

    .slider-item {
      //width: 100%;
      width: 509px;
      height: 517px;
      padding: 35px 25px 25px 50px;

      @include slider-bg;

      img {
        width: 186px;
        //height: 192px;
      }

      .h4 {

        @include ff_color;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -2px;
        text-transform: capitalize;

      }

      p {
        @include text;
        max-width: 400px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        padding-top: 40px;
      }
    }
  }
}

.client-slider-block {
  margin-top: 220px;

  .slider-2 {
    position: relative;

    &:before {
      content: url(../imgs/icons/quote-icon.png);
      position: absolute;
      top: 0;
      left: 50%;
      /* right: 50%; */
      transform: translate(-100%, -60%);

    }

    .client-slider-item {
      background-color: #fff;
    }

  }

  .client-slider-title {
    @include flex-c;
    margin-top: 80px;

    justify-content: center;
    flex-direction: column;

    .feedback {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      @include flex-c;
      color: #09A4D8;
    }

    .h3 {
      @include ff_color;
      font-weight: 500;
      font-size: 41px;
      line-height: 50px;
      text-transform: capitalize;
    }
  }

  .client-slider-item {
    @include padding(48);

    .avatar-wrap {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .h4 {
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;

      display: flex;
      align-items: center;

      color: #0F1C49;
    }

    span {
      font-family: 'Rubik', sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;

      display: flex;
      align-items: center;

      color: #878DA4;
    }

    p {
      font-family: 'Rubik', sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      margin-top: 40px;

      @include flex-c;

      color: #878DA4;
      max-width: 270px;
    }
  }
}

/*end sliders block*/

/*start contacts block*/

.contacts-block {
  margin-top: 110px;
  background-color: #03254c;
  padding-top: 231px;
  padding-bottom: 147px;


  .contacts-left {

    .contacts-left-item {
      .h4 {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;

        display: flex;
        align-items: center;

        color: #FFFFFF;
      }

      span {
        font-family: "Rubik", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        display: flex;
        align-items: center;

        color: #FFFFFF;

        &.blue {
          color: #09A4D8;
        }
      }
    }
  }

  .contacts-form {
    //margin-right: 199px;

    position: relative;
    background: #F8FBFC;
    border-radius: 16px;
    max-width: 584px;

    &:before {
      content: url("../imgs/form-before.png");
      position: absolute;
      top: -193px;
      left: -367px;

    }

    form {
      margin: 22px 57px 202px;

      .form-title {

        .h3 {
          @include ff_color;
          font-weight: normal;
          font-size: 32px;
          line-height: 48px;

          display: flex;
          align-items: center;

        }

        span {
          font-family: Rubik;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;

          display: flex;
          align-items: center;

          color: #878DA4;
        }
      }

      input {
        margin-top: 16px;
        margin-bottom: 16px;

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        display: flex;
        align-items: center;
        //

        color: #878DA4;

        &.btn {
          background: #09A4D8;
          border-radius: 4px;
          border: transparent;
          width: 100%;

          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          padding: 15.5px 0;

          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          color: #FFFFFF;
        }
      }

    }
  }
}

/*end sliders block*/

/*start footer block*/

footer {
  &.footer {

    form {
      align-items: center;

      padding-left: 181px;
      padding-right: 234px;
      padding-top: 135px;
      padding-bottom: 94px;

      .left {
        width: 100%;
        padding-right: 142px;

        .h3 {
          font-family: Montserrat Alternates;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 44px;
          text-transform: capitalize;

          color: #0F1C49;
          padding-top: 16px;
        }
      }

      .right {
        //position: relative;
        display: contents;

        input {
          background: #FFFFFF;
          border: 1px solid #DDDDDD;
          box-sizing: border-box;
          border-radius: 100px;
          max-width: 417px;
          min-width: 300px;
          height: 46px;
          padding-left: 29px;
        }

        button {
          &.getNotification {
            position: relative;

            border: transparent;
            padding: 0;
            margin: 0;
            background: transparent;
            box-sizing: border-box;
            outline: none;

            img {
              position: absolute;
              top: -30px;
              left: -61px;
            }
          }
        }
      }
    }

    .footer-social {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 12px;
      background: #03254C;
      margin: auto;
      text-align: center;

      p {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: -1px;

        color: #FFFFFF;

        padding-top: 22px;
      }
    }

  }
}

/*end footer block*/
